html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: block;
  width: 100%;
  position: relative;
}

.robot {
  width: 320px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  margin-left: 3em;
}
