html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  display: block;
  width: 100%;
  text-align: center;
}

.robot {
  display: inline-block;
  width: 320px;
  position: relative;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  right: 8.6em;
  margin-top: -.8em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;

  left: 5.7em;
  margin-top: -14.3em;
}
